<div class="subnavi hidden-phone">
<%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'submenu',
             :hide_children => false,
             :extra_suffix => 'submenu',
						 :css => 'submenu filterpatch clearfix'
           }) %>
</div>
