%h3 Welcome to PROJECTURL
%div.explanation
  Currently we are still in closed beta. If you are already invited, we are happy to have you on board. Feel free to enjoy your "early bird" access!
  [More information about our service...]
  %br/
  %br/
  If you haven't been invited, please feel free to sign up and join the waiting list.
  %br/
  Also, if you have criticism or feedback, feel free to always send us an email:
  %a{:href => "mailto:feedback@#{ActionMailer::Base.default_url_options[:host]}"} feedback@#{ActionMailer::Base.default_url_options[:host]}
  or use our contact form. Thank you, your #{ActionMailer::Base.default_url_options[:host]} Team